.ui-grid-a {
  font-weight: normal;
}
    
.ui-grid-a ul li {
  list-style: none;
}
  
.type {
  font-style: italic;
  font-weight: normal;
  font-size: small;
}
    
.occurrence, .repeatable {
  font-weight: normal;
  font-size: small;
}      

.deprecated {
  color: #999999;
}
